### 1. What exactly is []?

### Ans-1

'[]' This represents an empty list which doesnot contain any items.

### 2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

### Ans-2

spam[2] = 'hello'

In [3]:
spam = [2,4,6,8,10]
spam[2]='hello'
print(spam)

[2, 4, 'hello', 8, 10]

### Let's pretend the spam includes the list ['a','b','c',d'] for the next three queries.

In [5]:
spam = ['a','b','c','d']

### 3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

### Ans-3

('3'* 2) = '33'  
int('3' * 2) = 33  
int('3' * 2) / 11 = 3  
int(int('3' * 2) / 11) = 3  
spam[int(int('3' * 2) / 11)] = 'd'

In [7]:
spam[int(int('3' * 2) / 11)]

'd'

### 4. What is the value of spam[-1]?

### Ans-4

This will return the last value in the list.  
spam[-1] = 'd'

In [8]:
spam[-1]

'd'

### 5. What is the value of spam[:2]?

### Ans-5

This will return values from index 0 to 2 (excluding 2.

In [11]:
spam[:2]

['a', 'b']

### Let's pretend bacon has the list [3.14,'cat',11,'cat',True] for the next three question

In [19]:
bacon = [3.14,'cat',11,'cat',True]

### 6. What is the value of bacon.index(&#39;cat&#39;)?

### Ans-6

This will return the index of the first occurrence of the 'cat' string in the list bacon

In [20]:
bacon.index('cat')

1

### 7. How does bacon.append(99) change the look of the list value in bacon?

### Ans-7

This will add the value 99 at the end of the list bacon

In [21]:
print(bacon)
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True]
[3.14, 'cat', 11, 'cat', True, 99]

### 8. How does bacon.remove('cat') change the look of the list in bacon?

### Ans-8

The remove method will remove the first occurrence of string 'cat' in the list bacon

In [23]:
print(bacon)
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', True, 99]
[3.14, 11, True, 99]

### 9. What are the list concatenation and list replication operators?

### Ans-9
The list concatenation operator used is '+' while the list replication operator is '*'.

List concatenation is used to combine the elements of two list while list replication is used to repeat the elements of the
list given number of times.

In [27]:
lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']
print(lst1+lst2) ##List concatenation
print(lst1*2) ## List replication

[1, 2, 3, 4, 'a', 'b', 'c', 'd']
[1, 2, 3, 4, 1, 2, 3, 4]

### 10. What is difference between the list methods append() and insert()?

### Ans-10

List append method adds the element at the end of the list while insert() method can be used to insert the element at the given index.  

Syntax  

append()  
list_name.append(value)  

insert()  
list_name.insert(index,value)

In [29]:
lst = ['a','b','c']
print(lst)
lst.append('d')
print(lst)
lst.insert(2,'z')
print(lst)

['a', 'b', 'c']
['a', 'b', 'c', 'd']
['a', 'b', 'z', 'c', 'd']

### 11. What are the two methods for removing items from a list?

### Ans-11

The two methods for removing items from a list are:  

1- remove()  
This method is used to remove the first occurrence of the given element fron the list.  

2- del()  
This method is used to delete the element at the given index from the list.

In [35]:
arr = ['apple','mango','banana','grapes','mango']
print(arr)
arr.remove('mango') ## Removes the first occurrence of the given string
print(arr)
del arr[2] ## Removes the element at the given index
print(arr)

['apple', 'mango', 'banana', 'grapes', 'mango']
['apple', 'banana', 'grapes', 'mango']
['apple', 'banana', 'mango']

### 12. Describe how list values and string values are identical.

### Ans-12

List values and string values are identical because  
In both we can use slicing  
In both we can use indexing  
In both we can use len()  
Both can be iterated using loops

### 13. What&#39;s the difference between tuples and lists?

### Ans-13

Difference between tuples and lists  

1- Lists are mutable while tuples are immutable.  
2- Lists are created using square brackets [] while tuples are created using paranthesis ()  
3- Tuples are slightly faster than lists

In [46]:
a1 = [1,2,3]
a2 = ('a','b','c')
print(type(a1))
print(type(a2))

<class 'list'>
<class 'tuple'>

### 14. How do you type a tuple value that only contains the integer 42?

### Ans-14

We declare a tuple with only one value by putting comma after the given value to distinguish is from normal value

In [37]:
tp1 = (42) 
tp2 = (42,) ## correct way to declare a tuple
print(type(tp1))
print(type(tp2))

<class 'int'>
<class 'tuple'>

### 15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

### Ans-15

list() -> is used to convert tuple to list  
tuple() -> is used to convert list to tuple

In [40]:
lst = [1,2,3,4]
app = tuple(lst)
print(app)
print(type(app))

(1, 2, 3, 4)
<class 'tuple'>

In [41]:
app = ('a','b','c')
lst = list(app)
print(lst)
print(type(lst))

['a', 'b', 'c']
<class 'list'>

### 16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain?

### Ans-16

There store reference of the list. The variable store the address where the list is located.

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

### Ans-17
copy.copy() and copy.deepcopy() both are present in copy module of Python  

1-copy.copy() - This creates a shallow copy of the object.  
2- copy.deepcopy()- This creates a deep copy of an object. This new copy is completely independent of the original copy.

In [45]:
## Shallow copy
import copy

l1 = [1,[2,3],4]
l2 = copy.copy(l1)

l1[1][0] = 99
print(l1)
print(l2)

[1, [99, 3], 4]
[1, [99, 3], 4]

In [43]:
## Deep copy
import copy
l1 = [1,[2,3],4]
l2 = copy.deepcopy(l1)

l1[1][0] = 99
print(l1)
print(l2)

[1, [99, 3], 4]
[1, [2, 3], 4]