### 1. In the below elements which of them are values or an expression? eg:- values can be
### integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

### Ans1-

Values - 'hello',-87.8,6  
Expressions- *,-,/,+

### 2-What is the difference between string and variable?

### Ans-2

#### String -
A string is a datatype that is used to represent sequence of characters. Strings are enclosed within quotation marks.

#### Variable-
Variables are named storage location that holds a value.
In case of Python variables are used to store and manipulate data.
Variable have a data type based on the values stored in it.

### 3. Describe three different data types.

### Ans-3

#### Integer

Integer data type represents the whole number values. It can be positive ,negative or zero but without any decimal places.  
Examples  
x=4  
y=-3  

#### Strings
A string is a datatype that is used to represent sequence of characters. Strings are enclosed within quotation marks.  
Example  
name = 'Allen'    

#### Floats
Floats are real number which have decimal points.  
Example  
X = 4.5  

#### Boolean
Boolean data type only represents True or False values.   
Example  
passed = True

### 4. What is an expression made up of? What do all expressions do?

#### Ans-4
In Python expressions is a combination of Values, Variables, Operators, and function calls.

Expression are evaluated to produce a result.This result can then be assigned to some other variable.
Examples

resultant = 4*(5+9)

In this 4,5,9 are values and + and * are operators and together this expression is evaluated to produce a result which is then assigned to variable resultant

###  5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

### Ans-5

In the statement spam = 10, It is completely a statement that performs the task of assigning value to the variable spam while 10 is an expression which when evaluated gives value of 10.  

So expressions consists of Values, Variables, Operators, and function calls which when evaluated gives a result. While statements may or may not produce result. Expression are generally part of a statement.

### 6. After running the following code, what does the variable bacon contain?
### bacon = 22
### bacon + 1

### Ans-6
22

This is because bacon is not updated after addition so it will have same value as earlier

In [3]:
bacon = 22
bacon + 1
print(bacon)

22

### 7. What should the values of the following two terms be?
### 'spam' + 'spamspam'
### 'spam' * 3

### Ans-7

'spam' + 'spamspam'  
In this case both the strings are concatenated to perform a new string 'spamspamspam'

'spam' * 3  
In this case the string 'spam' is repeated 3 times without any spaces between them

In [4]:
'spam'+'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalid?

### Ans-8

In Python according to convention a variable names can start only with Letter or underscore.  
In case of eggs it is starting with letters hence this variable name is correct while 100 is starting with number so it is not 
a valid variable name.

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

### Ans-9

#### int()
This function is used to convert value from other datatype in integer datatype.
Example
x = int(4.2)

#### float()
This function is used to convert value from other datatype in float datatype.
Example
y = float('4')

#### str()
This function is used to convert value from other datatype in string datatype.
z = str(4.3)

#### 10. Why does this expression cause an error? How can you fix it?
#### 'I have eaten ' + 99 + ' burritos.'

### Ans-10

This function will cause an error because 'I have eaten ' and ' burritos.' are of string type but 99 is integer hence it is not
possible to concatenate string with integer in Python.

To concatenate them we have to explicitly convert 99 to string using str(99)